{
    "PORT": 3001,
    "MONGODB_URI":"mongodb://127.0.0.1/TEST",
    "FULL_NAME":"YOUR_FULL_NAME",
    "USERNAME":"YOUR_USER_NAME",
    "EMAIL":"YOUR_EMAIL",
    "PASSWORD":"YOUR_PASSWORD",
    "ADMIN":true
}