<div class="container" style="margin-top: 70px">
<div>Search: <input type="text" (keyup.enter)="searchUser()" [(ngModel)]="value" placeholder="Search on enter..."></div>
  <div class=" float-right" style="margin-bottom: 25px">
    <button type="button"  (click)="goToUserCreate('add')" class="btn btn-info">Add User</button>
  </div>
    <table class="table" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Profile</th>
        <th scope="col">Full Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Designation</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>

    </thead>
    <tbody *ngIf="count >0">
      <tr *ngFor="let user of users;let i= index" scope="row">
        <td>{{i+1}}</td>
        <td><img height="50px" width="50px" class="img-fluid" alt="Responsive image" src="{{this.API_IMAGE_URl}}{{user.profile}}"></td>
        <td>{{user.fullName}}</td>
        <td><span *ngIf="user.gender === 'male'">Male</span><span *ngIf="user.gender === 'female'">Female</span></td>
        <td>{{user.designation}}</td>
        <td ><span *ngIf="user.status === 'active'">Active </span><span *ngIf="user.status === 'inactive'">Inactive</span></td>
        <td><button (click)="goToUserCreate('edit',user.id)">Edit</button></td>
      </tr>
    </tbody>

  </table>
  <div class="jumbotron-fluid" style="text-align: center">
   <h4 *ngIf="count === 0">No data available!</h4>
  </div>
</div>
