<div class="container" style="text-align: center;margin-top: 150px;">
  <div   style="display: inline-block">
    <form  #loginForm="ngForm"  (ngSubmit)="login()">
      <div class="form-group" >
          <label for="username">Username :</label>
          <input type="text" name="username" class="form-control float-right" [(ngModel)]="loginUser.username"/>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control float-right" [(ngModel)]="loginUser.password"/>

      </div>
      <div class="form-group">
          <button  class="btn btn-primary" style="margin-top: 30px;">Login</button>
      </div>
    </form>
  </div>
</div>
